@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    padding: 0px;
    margin: 0%;
    box-sizing: border-box;
    /* overflow: hidden */
}

.warpper {
    @apply max-w-6xl px-7 w-full flex h-full flex-col justify-between mx-auto
}

.hero-nav {
    @apply flex items-center justify-between h-20;
}

.hero-ul {
    @apply flex gap-10 items-center text-white
}


.hero-ul li:not(:last-child) {
    @apply md:block hidden
}

.hero-ul li:hover {
    @apply cursor-pointer
}

.hero-overlay {

    @apply absolute top-0 left-0 w-full h-full bg-cover bg-center bg-no-repeat opacity-5 -z-10
}

.main-hero {
    @apply flex items-center flex-wrap h-full justify-between w-full
}

.hero-left {
    @apply flex gap-3 flex-col basis-full md:basis-6/12 text-white
}

.hero-right {
    @apply flex basis-full md:basis-6/12
}

@layer components {
    .primary-btn {
        @apply bg-orange-light_hover text-white px-4 py-2 border-none rounded-md font-normal cursor-pointer
    }
}